<!DOCTYPE html>

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <nav class="navbar">
      <a class="nav-item" href="{% url 'home' %}">Home</a>
      <a class="nav-item" href="{% url 'ingredients' %}">Ingredients</a>
      <a class="nav-item" href="{% url 'menu' %}">Menu</a>
      {% comment %}
      <a class="nav-item" href="{% url 'purchases' %}">Purchases</a>
      {% endcomment %}

    </nav>
  </header>
  {% block content %}
  {% endblock %}
</body>
